<header class="padded">
    <h3 class="title">
        <a href="{{ site.url }}" title="Home">{{ site.header_title }}</a>
    </h3>
    <ul class="nav">
        <li><a href="https://github.com/{{ site.github.username }}?tab=repositories" target="_blank">Projects</a></li>
        <li><a href="{{ '/talks' | absolute_url }}">Talks</a></li>
        <li><a href="{{ '/me' | absolute_url }}">Me</a></li>
        <li><a href="https://twitter.com/{{ site.twitter.username }}" target="_blank">💬</a></li>
    </ul>
</header>