$fontFamily: "PT Serif", Georgia, "Times New Roman", serif;
$codeFontFamily: Consolas, Menlo, Monaco, "Courier New", monospace;
$gistFontFamily: $codeFontFamily + "!important";
$defaultFontColor: rgba(0,0,0,.8);
$metaFontColor: #ccc;